@import '../variables';

.categories {
	padding-bottom: 15px;
  ul {
    display: flex;
    gap: 15px;
    @media screen and (max-width: 992px) {
      gap: 10px;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      @media screen and (max-width: 992px) {
        padding: 8px 25px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
